manifest {
  name = 'CrossSpecies ORFome'
  version = '1.0.0'
  description = 'Cross Species ORFome workflow'
}

//// Parameter defaults; Can be set at workflow runtime on the nextflow command-line
params {
    
    //// Species to scan for ORFs, i.e. Homo_sapiens (format: Genus_species) (required!)
    species = null

    //// Bed file containing genomic coordinates to get from genome fasta file, (required! if gtf = null)
    bed = null

    ////  GTF file containing genomic coordinates to get from genome fasta file, (required! if bed = null)
    gtf = null
    features = null

    ////  Reference genome fasta file, i.e. path to ref.fasta (not required)
    ref_fasta = null


    //// Output options
    outDir = null // Workflow output directory
  
}